body{
  align-content: center;
  justify-items: center;
  background-color: #282726;

}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 600px;
  height: 730px;
  gap: 36px;
}

header{
  justify-items: center;
  width: 352px;
  height: 66px;
  margin-top: 50px;
}

.game-title{
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-size: 20px;
  color: #F9F4DA;
  margin: 0px;
}

.game-info{
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-size: 14px;
  color: #8E8E8E;
  text-align: center;
  margin: 0px;
}

.status{
  width: 352px;
  height: 60px;
  align-content: center;
  text-align: center;
  background-color: #10A95B;
  color: #F9F4DA;
  border-radius: 4px;
  margin-top: -15px;
}

.status-line-1{
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-size: 20px;
  color: #F9F4DA;
}

.status-line-2{
  font-family: "Hanken Grotesk";
  font-weight: 500;
  font-size: 16px;
  color: #F9F4DA;
}

.chips-section{
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  justify-content: center;
}

.chip{
  padding: 4.5px;
  border-radius: 3px;
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-size: 12px;
}

.the-word{
  display: flex;
  gap: 2px;
}

.letter-placeholder{
  height: 40px;
  width: 40px;
  background-color: #323232;
  border-bottom: 1px solid #F9F4DA;
  color: #F9F4DA;
  text-align: center;
  align-content: center;
  font-family: "Hanken Grotesk";
  font-weight: 700;
  font-size: 18px;
}

.keyboard{
  width: 480px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  justify-content: center;
}

.key{
  height: 40px;
  width: 40px;
  background-color: #FCBA29;
  border-radius: 4px;
  color: #1E1E1E;
  text-align: center;
  align-content: center;
  font-family: "Hanken Grotesk";
  font-weight: 600;
  font-size: 16px;
  border: 1px solid #D7D7D7;
}

.new-game-button{
  width: 228px;
  height: 40px;
  background-color: #11B5E5;
  border-radius: 4px;
  border: 1px solid #D7D7D7;
  font-size: 16px;
  font-weight: 600;
  font-family: "Hanken Grotesk";
}